.beneficios-container {
  width: 90%;
  max-width: 100vw;
  margin: 0 auto;
  margin-top: -25px;
  position: relative;
  z-index: 10;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  text-align: center;
}

.beneficio-item {
  display: inline-block;
  width: 33.33%;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0 10px;
  color: #333;
  font-family: sans-serif;
  font-size: 13px;
}

.beneficio-item svg {
  vertical-align: middle;
  margin-right: 8px;
  display: inline-block;
}

.beneficio-texto {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  text-transform: uppercase;
  color: #666;
  font-size: 15px;
}

.beneficio-texto strong {
  color: #000;
  display: block;
  font-size: 15px;
}

.border-sides {
  border-left: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
}