.product-main {
  padding: 50px 0;
  background-color: #fff;
}

.product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: block;
  font-size: 0;
}

.product-image {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  padding-right: 40px;
  box-sizing: border-box;
  font-size: 16px;
}

.product-details {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 16px;
}

.product-image img {
  width: 100%;
  display: block;
  object-fit: contain;
}

.product-details h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #000;
  font-weight: 800;
}

.product-details .price {
  font-size: 28px;
  color: #333;
  font-weight: 600;
  margin-bottom: 20px;
}

.product-details .description {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 30px;
}

.buy-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.buy-btn:hover {
  background-color: #333;
}

@media (max-width: 768px) {

  .product-image,
  .product-details {
    width: 100%;
    display: block;
    padding: 0;
  }

  .product-image {
    margin-bottom: 30px;
  }
}